body {
  
}

*,
*:before,
*:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.page-wrapper {
   max-width: 800px;
   margin: 0 auto;
   }

/* Первый блок в Header делаем class-blockquote; class-cards */

.header {
   position: relative;
   width: 600px;
   height: 500px;
   padding: 10px;
   margin: 0 auto 50px;
   background-color: #0d5825;
}

blockquote>h1 {
   font-size: 25px;
   color: #fff;
   text-align: center;
}

blockquote>h1::before {
   content: open-quote;
}

blockquote>h1::after {
   content: close-quote;
}

.blockquote p {
   text-align: center;
   font-size: 25px;
   color: #fff;
}

.cards {
   position: relative;
   top: 70px;
}

.card-1 {
   position: absolute;
   width: 150px;
   left: 160px;
   transform: rotate(-20deg);

}

.card-1 img:hover {
   transition: all 0.8s ease-in-out;
   transform: translateY(-50px);

}

.card-2 {
   position: absolute;
   width: 150px;
   left: 200px;
   transform: rotate(0deg);

}

.card-2 img:hover {
   transition: all 0.8s ease-in-out;
   transform: translateY(-50px);

}

.card-3 {
   position: absolute;
   width: 150px;
   left: 240px;
   transform: rotate(20deg);
}

.card-3 img:hover {
   transition: all 0.8s ease-in-out;
   transform: translateY(-50px);
}



/* Второй блок ( squares ) работпем с  ( z-index ) */

.squares {
   margin-bottom: 150px;
}

.red {
   background-color: #f00;
   width: 150px;
   height: 150px;
   margin-left: 90px;
   margin-bottom: 120px;
}

.blue {
   background-color: #00f;
   width: 150px;
   height: 150px;
   margin-left: 220px;
   margin-top: -285px;
}

.green {
   background-color: #0f0;
   width: 150px;
   height: 150px;
   margin-left: 350px;

}

/* Третий блок делаем живой квадрат */
.living {
   position: relative;
   height: 400px;
}

.living-square {
  
   width: 100px;
   background-color: #f00;
   animation-name: redsquare;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

@keyframes redsquare {
   0% {
      transform: translateX(0) translateY(0);
      background-color: #f00;
   }

   25% {
      transform: translateY(250px);
      background-color: #00f;
   }

   50% {
      transform: translateX(700px) translateY(250px);
      background-color: #0f0;
   }


   75% {
      transform: translateX(700px) translateY(0);
      background-color: #ffff00;
   }

   100% {
      transform: translateX(0) translateY(0);

   }
}

/* Четвёртый блок делаем (выезжающее боковое меню  "Menu here":) */

.first-menu {
   position: relative;
   
}
.menu {
   text-transform: uppercase;
   font-size: 20px;
   background-color: #8a8a8a;
   position: absolute;
}


.menu a {
   text-decoration: none;
   color: #fff;
   margin: 10px;
}

.menu a:hover {
   color: #ffa500;
}


.menu-left {
   position: relative;
   width: 300px;
   height: 300px;
   margin: 20px 0 0 10px;
   display: none;
}


.link-menu>li {
   margin-bottom: 10px;
   line-height: 50px;
   font-size: 14px;
}

.link-menu li::before {
   content: '';
   display: inline-block;
   width: 7px;
   height: 7px;
   background-color: #ffa500;
   border: 2px solid black;
   transform: rotate(45deg);
}
   

.menu-here {
   display: block;
   top: 0px;
   left: 100%;
   font-size: 20px;
   background-color: #8a8a8a;
   padding: 30px 0 129px 0;
}

.menu-here a {
   position: relative;
   top: 50px;
   right: 10px;
   writing-mode: vertical-lr;
}

.menu:hover .menu-here {
   display: none;
}

.menu:hover .menu-left {
   display: block;

}